@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: #f7f7f7;
  padding: 50px;
}

body.dark {
  background-color: #252525;
  h1 {
    color: #f7f7f7;
  }
  .content {
    form {
      input {
        background-color: #252525;
        color: #858484;
        border: 1px solid #f7f7f7;
      }
      i {
        color: #f7f7f7;
      }
    }
  }
  ol {
    li {
      color: #f7f7f7;
    }
  }
  .modal {
    background-color: rgba(37, 37, 37, 0.5);
    .modal-content {
      background-color: #252525;
      border: 1px solid white;
      h2 {
        color: #f7f7f7;
      }
      input {
        background-color: #252525;
        border: 1px solid #f7f7f7;
        color: #f7f7f7;
      }
    }
  }
}

h1 {
  font-weight: 500;
  font-size: 26px;
  line-height: 100%;
  color: #252525;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  .allBtn {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    color: #f7f7f7;
    background-color: #6c63ff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 2px 5px gray;
    }
    i {
      font-size: 12px;
    }
  }
  .darkBtn {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #f7f7f7;
    background-color: #6c63ff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 2px 5px gray;
    }
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    .inputSearch {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: gray;
        border: 1px solid #6c63ff;
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 10px;
        outline: none;
      }
      i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #6c63ff;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .menuBtn {
    position: absolute;
    top: 40px;
    right: 42px;
    text-align: left;
    border: 1px solid #6c63ff;
    padding: 5px;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    background-color: #f7f7f7;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    h3 {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
      color: #6c63ff;
      cursor: pointer;
    }
  }
  .menuBtn.active {
    transform: scale(1);
  }
}

ol {
  width: 440px;
  margin: 0 auto;
  height: 60vh;
  overflow-y: auto;
  scrollbar-width: none;
  .row {
    padding: 10px 0;
    border-bottom: 1px solid #6c63ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      .btns {
        transform: scale(1);
      }
    }
    .btns {
      display: flex;
      gap: 10px;
      transition: all 0.3s ease-in-out;
      transform: scale(0);
      i {
        color: #cdcdcd;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        &:hover {
          color: #6c63ff;
        }
        &:hover:nth-child(2) {
          color: rgba(255, 0, 0, 0.726);
        }
      }
    }
  }
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    font-size: 18px;
    color: #252525;
    input:checked + span {
      text-decoration: line-through;
      opacity: 0.6;
    }
  }
  input[type="checkbox"] {
    width: 15px;
    height: 15px;
    appearance: none;
    background-color: transparent;
    border: 1px solid #6c63ff;
    border-radius: 2px;
  }

  input[type="checkbox"]:checked {
    background-color: #6c63ff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M7.629 15.314l-4.95-4.95 1.414-1.414 3.536 3.536 7.071-7.07 1.414 1.414z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.col {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  button {
    background-color: #6c63ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(0.97);
    }
    i {
      color: #f7f7f7;
      font-size: 20px;
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(102, 102, 102, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  padding-top: 130px;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
  .modal-content {
    width: 400px;
    height: 250px;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 20px;
    position: relative;
    h2 {
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      color: #252525;
      text-align: center;
      margin-bottom: 20px;
    }
    form {
      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #6c63ff;
        outline: none;
        font-weight: 500;
        font-size: 16px;
        color: #252525;
      }
    }
    .btns {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: calc(100% - 40px);
      display: flex;
      justify-content: space-between;
      button {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #6c63ff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
      .submitBtn {
        background-color: #6c63ff;
        color: #f7f7f7;
        &:hover {
          transform: scale(0.97);
        }
      }
      .censel {
        background-color: rgba(255, 0, 0, 0.884);
        border: 1px solid rgba(255, 0, 0, 0.884);
        color: #f7f7f7;
        &:hover {
          transform: scale(0.97);
        }
      }
    }
  }
}
